<!-- This code would have work as well: <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<!-- [(NgModel)] is a two way binding. It does the setting and reading of a value. It will listen to an input and emit that data to us and store new data in that text area or output it there..   -->
<!-- We bind [(NgModel)] to a new defined property called enteredValue and it is in ts file -->
<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <!-- Event Binding -->
  <button
  mat-raised-button color="accent"
    (click)="onAddPost()">Save Post</button>
</mat-card>
<!-- String interpolation -->
<p>{{ newPost }}</p>
