:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.info {
  padding: 20px;
  background-color: #3e54af;
  color: white;
}

.info2 {
  padding-right: 10px;
}

.info3 {
  padding-left: 50px;
}

.info4 {
  padding-left: 100px;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
